/* Set the background color to black */
body {
    background-color: #000; /* #000 represents black */
    color: #fff; /* Text color */
}

/* Container for the entire layout */
.container {
    width: 100%;
    max-width: 1850px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the content horizontally */
}

/* Style for the job boxes container */
.job-box-container {
    text-align: center; /* Center-align job boxes */
}

/* Style for the job boxes */
.job-box {
    background-color: #090B14; /* Dark gray background color */
    padding: 20px;
    color: #fff; /* White text color */
    text-align: center; /* Center-align text */
    margin: 10px auto; /* Add space around each box and center it horizontally */
    width: 55%; /* Adjust the width of the job boxes */
    display: block; /* Display job box as a block-level element */
    font-family: 'Metrophobic-Regular', sans-serif;
}

/* Style for the job titles */
.job-box h2 {
    font-size: 20px; /* Adjust the font size for job titles */
    margin: 10px 0; /* Add space around the titles */
}

/* Style for the job descriptions */
.job-box p {
    font-size: 14px; /* Adjust the font size for descriptions */
}

/* Style for the Sub-Divisions section */
.sub-divisions {
    padding: 10px;
    color: #fff; /* White text color */
    text-align: center; /* Center align text */
    margin-top: 20px; /* Add space between the core values and sub-divisions */
    font-family: 'Metrophobic-Regular', sans-serif;
}

/* Style for the Sub-Divisions title */
.sub-divisions h1 {
    font-size: 54px; /* Adjust the font size */
    margin-bottom: 20px; /* Add space below the title */
}

/* Style for the photos in the Sub-Divisions section */
.sub-divisions img {
    max-width: 1000px; /* Adjust the maximum width for consistency */
    height: auto; /* Maintain the image's aspect ratio */
    margin: 10px auto; /* Add space around each image and center them horizontally */
    display: block; /* Ensure that the image is treated as a block element */
}

.googleSheet iframe {
  padding: 35px;
  display: block;
  margin: 0 auto;
}

/* Style for the nav bar */
.navbar {
    background-color: #333;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 110px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-item {
    margin-right: 25px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}

.nav-link:hover {
    color: #ffcc00; /* Change color on hover */
}

.active .nav-link {
    color: #ffcc00; /* Active link color */
}

/* Styles for the footer */
footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
  }
  hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
  }
  footer a {
    color: #d5d5d5;
  }
  hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
  }
  .footer-image img{
    width: 150px;
    height: 60px;
  }
  .fa-facebook {
    color: #3b5998;
  }
  .fa-twitter {
    color: #00aced;
  }
  .fa-google-plus-g {
    color: #dd4b39;
  }
  .fa-instagram {
    color: #517fa8;
  }
  .fa-youtube {
    color: #bb0000;
  }
  
  .fa-facebook:hover,
  .fa-twitter:hover,
  .fa-google-plus-g:hover,
  .fa-instagram:hover,
  .fa-youtube:hover {
    color: #d5d5d5;
  }
